DialogueGraphStartNode #title
{
    background-color: rgb(112, 243, 82);
}
DialogueGraphEndNode #title
{
    background-color: rgba(226, 10, 10, 255);
}

DialogueGraphTalkNode #title
{
    background-color: rgb(97, 180, 241);
}

DialogueGraphStartNode #title-label
{
    color: black;
}

DialogueGraphEndNode #title-label
{
    color: black;
}

DialogueGraphTalkNode #title-label
{
    color: black;
}